.selected-cards-display {
  display: flex;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  gap: 10px;
}

.reading-header {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
