
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las cartas */
  margin-top: 30px;
  padding: 20px;
}

.card-back {
  width: 150px;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  /* --- Cambios para la imagen de fondo --- */
  background-image: url('../assets/images/back-cardv2.png'); /* 👈 La ruta a tu imagen */
  background-size: cover; /* 👈 Hace que la imagen cubra toda la carta sin deformarse */
  background-position: center; /* 👈 Centra la imagen en la carta */
}
.card-back:hover {
  transform: translateY(-10px);
}

.card-back.selected {
  background-color: #ffD700; /* Un color dorado para destacarla */
  border-color: #c0c0c0; /* Un borde plateado */
  transform: translateY(-5px) scale(1.05); /* La hacemos saltar un poco */
}